[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
markdown = "*"
django-haystack = "*"
django-pure-pagination = "*"
django = "~=2.2"
elasticsearch = ">=2,<3"
gunicorn = {index = "https://pypi.douban.com/simple",version = "*"}

[requires]
python_version = "3.7"
