[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
markdown = "*"
django-haystack = "*"
django-pure-pagination = "*"
django = "~=2.2"
elasticsearch = ">=2,<3"

[requires]
python_version = "3.7"
